//$color-primary: #1DA1F2;
$color-primary: #F05223;
//$color-primary: #F9A82C;
$color-black: #090A0F;
$color-dark-gray: #657786;
$color-light-gray: #aab8c2;
$color-extra-light-gray: #e1e8ed;
$color-bg: #090A0F;
$color-fg: #ffffff;
$hr-color: #000;

$post-action-green: #17bf63;
$post-action-blue: #1da1f2;
$post-action-red: #F57C31;

$shadow-white: 0px 0px .5rem 0px rgba($color: $color-light-gray, $alpha: 0.3);

$border-dark: 1px solid rgb(12, 20, 59);
$border-light: 1px solid rgba($color: $color-light-gray, $alpha: 0.5);
